<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="POST" th:action="@{/refill/add}" th:object="${allResources}">
    <table>
        <tr>
            <td><strong>Resource</strong></td>
            <td><strong>Amount</strong></td>
            <td><strong>Add</strong></td>
        </tr>
        <tr>
            <td>Coffee</td>
            <td th:text="${allResources.getCoffee()}">amountCoffee</td>
<!--            <td><input type="text" th:value="0" th:name="addCoffee">-->
            <td><input type="text" th:field="*{addCoffee}" id="addCoffee">
                <div style="color:red" th:if="${#fields.hasErrors('addCoffee')}" th:errors="*{addCoffee}">Name Error</div></td>
        </tr>
        <tr>
            <td>Water</td>
            <td th:text="${allResources.getWater()}"></td>
            <td><input type="text" th:value="0" th:name="addWater">
                <div style="color:red" th:if="${#fields.hasErrors('addWater')}" th:errors="*{addWater}">Name Error</div></td>
        </tr>
        <tr>
            <td>Milk</td>
            <td th:text="${allResources.getMilk()}"></td>
            <td><input type="text" th:value="0" th:name="addMilk">
                <div style="color:red" th:if="${#fields.hasErrors('addMilk')}" th:errors="*{addMilk}">Name Error</div></td>
        </tr>
    </table>
    <input type="submit" value="ADD!">
</form>
</body>
</html>